a {
    color: #00A1D2;
    text-decoration: none;
}

#contenido{
	background-color: #373737;
	color: #A8A7A8;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
	border: 2px solid #DDD;
	box-shadow: 0px 0px 20px #7FC2E7;
	border-radius: 3px;
}

input[type="text"], input[type="password"] {
    padding: 0px 10px;
    width: 300px;
    height: 40px;
    color: #BBB;
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(47, 46, 46);
    border: 0px none;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3) inset, 0px 1px rgba(255, 255, 255, 0.06);
}

input, button, label {
    font-size: 15px;
    font-weight: 300;
    box-sizing: border-box;
}

label {
    float: left;
    width: 120px;
    line-height: 40px;
    padding-right: 20px;
    font-weight: 100;
    text-align: right;
    letter-spacing: 1px;
}



.cerrar{
	float: right;
}

.login-submit, .login-submit:before, .login-submit:after {
    background: url("../img/bg.png") repeat scroll 0px 0px #373737;
}



.login p {
    margin: 0px 0px 10px;
}

.login-button {
    position: relative;
    z-index: 2;
    width: 48px;
    height: 48px;
    padding: 0px 0px 48px;
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
    background: none repeat scroll 0% 0% transparent;
    border: 0px none;

    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset, 0px 1px rgba(255, 255, 255, 0.1);
    left: -2px;
    top: -2px;
    
    border-radius: 24px;
    behavior: url(css/pie.htc);
}

.login-button:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
 
  background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
  background-image: linear-gradient(to bottom, #00a2d3, #0d7796);
 

 
  -webkit-box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
  
  border-radius: 10px;
  behavior: url(css/pie.htc);

}
.login-button:active:before {
  background: #0591ba;
  background-image: -webkit-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -moz-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -o-linear-gradient(top, #0591ba, #00a2d3);
  background-image: linear-gradient(to bottom, #0591ba, #00a2d3);
}
.login-button:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 12px;
  width: 25px;
  height: 19px;
  background: url("../img/arrow.png") 0 0 no-repeat;
    border-radius: 24px;
  behavior: url(css/pie.htc);
}


.login-button:hover{
	background: none repeat scroll 0% 0% rgb(239, 63, 57);
}

.login-button{
	background-color: #00a2d3;
}

.login-submit {
    position: absolute;
    top: 84px;
    right: 60px;
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 70px;
    behavior: url(css/pie.htc);
}

.buttonI, .buttonX, .buttonR, .buttonS{
	float: right;
	margin-right: 10px;
	width: 100px;
	border: none;
	padding: 7px 10px;
	background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1)) repeat scroll 0% 0% rgba(250, 250, 250, 0.8);
	border-radius: 3px;
	behavior: url(css/pie.htc);
}


.buttonX{
	background: none repeat scroll 0% 0% #3F9D4A;
	color: #fff;
}

.buttonI{
	background: none repeat scroll 0% 0% rgb(239, 63, 57);
	color: #fff;
}

.buttonR{
	background: none repeat scroll 0% 0% #3F9D4A;
	color: #fff;
}

.buttonS{
	background: none repeat scroll 0% 0% #3F9D4A;
	color: #fff;
}


.buttonX:hover, .buttonI:hover, .buttonR:hover, .buttonS:hover{
	background-color: #F0B641;
}

#alias{
	display:block;
	float: left;
	font-size: 27px;
    font-weight: 300;
    color: #E32F19;
    margin-left: 10px;

 }

input:focus { 
     background-color: #F0EC92;
     color: black;
 } 
 
 input{
	padding-top: 20px;
	font-size: 27px;
	border-radius: 3px;
	
}



