@CHARSET "ISO-8859-1";

body{
	background-color: #000000;
}


.row{
	margin-left: 10px;
}

.slot {
    border: 2px dotted #808080;
    background-color: #ffb871;
    color: #666666;
    text-align: center;
    margin: 4px;
    width: 60px;
    height: 60px;
    top: 150px; 
    z-index: 0;
    padding: 16px 0 0 0;
	float: left;
}


.player {
  /*  border: 2px solid #808080; */
    text-align: center;
  /*  position: relative; */
  	color: white;
    float: left; 
    margin: 4px;
    width: 60px;
    height: 60px;
    top: 150px; 
    z-index: 1;
    cursor: move;
	font-family:Georgia,serif;
	font-weight: 600;
	/* padding: 16px 0 0 0; */
}


.Pend {
  /*  border: 2px solid #808080; */
    color: #000000;
    background-color: #fbc4c9;
    text-align: center;
  /*  position: relative; */
    float: left; 
    margin: 4px;
    width: 60px;
    height: 60px;
    z-index: 1;
	font-family:Georgia,serif;
	font-weight: 100;
	padding: 16px 0 0 0;
}



#pt1 {
    clear: both;
}
.bottom {
    top: 50px;
}

#u1{
	background-color: #16A086;
}

#u2{
	background-color: #1BBC9B;
}
#u3{
	background-color: #2DCC70;
}
#u4{
	background-color: #27AE61;
}
#u5{
	background-color: #9A59B5;
}
#u6{
	background-color: #8D44AD;
}
#u7{
	background-color: #34495E;
}
#u8{
	background-color: #2D3E50;
}
#u9{
	background-color: #E67F22;
}
#u10{
	background-color: #D25400;
}
#u11{
	background-color: #E84C3D;
}
#u12{
	background-color: #C1392B;
}


#pboth1, #pboth2 {
    background-color: #FFA928;
}

.usuarios, .pendiente{
	margin-left: 5px;
	padding-top: 10px;
	width: 70px;
	height: 830px;
	float: left;
}

.pendiente{
	float: left;
	margin-left: 0px;
}

#workarea {
	margin: 20px auto 20px auto;
    height: 940px;
    width: 99%;
    text-align: center;
    background-color: #ffffff;
    padding-top: 20px;
    
}
#workarea .yui3-dd-drop-active-valid {
    border: 2px solid #d5ffd5;
}
#workarea .yui3-dd-drop-over {
    background-color: #d5ffd5;
}
#workarea .yui3-dd-drop-active-invalid {
    border: 2px solid red;
}

.areaTrabajo{
	float: left;
	margin-left: 10px;
	padding-top: 10px;
}

#list1, #list2{
	float: left;
}

.col{
	float: left;
	margin-right: 5px;
}

.carpetas{
	float: left;
	margin-right: 0;
	width: 220px;
	height: 800px;
	/* border: 1px solid black;  */
}

.suma{
	float: left;
	margin-top: 40px;
	margin-left: 10px;
}

.plai{
	float: left;
	clear: both;
}

.plai ul {
    /* Snipped */
    overflow: auto;
}

    .yui3-dd-proxy {
        text-align: left;
    }
    .plai {
      /*   padding: 10px;
        margin: 10px; 
        zoom: 1;  */
        border-top: 2px solid #dad7d6;
    }
    .plai:after { display: block; clear: both; visibility: hidden; content: '.'; height: 0;}
    .plai ul {
      /*  border: 1px solid black; */
        width: 210px;
        height: 800px;
        float: left;
        padding: 0;
        zoom: 1;
        position: relative;
        overflow: auto;
    }
    .plai ul li {
        background-image: none;
        list-style-type: none;
        padding-left: 20px;
        padding: 5px;
        margin: 2px;
        cursor: move;
        zoom: 1;
        position: relative;
    }
    .plai ul li.list1 {
        background-color: #00b9b9;
        border:1px solid #004C6D; 
        width: 200px;
    }
    .plai ul li.list2 {
        background-color: #00b9b9;
        border:1px solid #004C6D;
        width: 150px;
    }
    .plai ul li.list3 {
        background-color: #00b9b9;
        border:1px solid #004C6D;
        width: 175px;
    }
ul li{
	text-align: left;
}

#list3 li{
	display: none;
}

.pdfs{
	
	font-size: small;
	color: white;
}

.pdfs strong{
	float: right; 
	color: black;
}

#ocultar{
	visibility: hidden;
}
