@CHARSET "ISO-8859-1";

#cargando{
	visibility: hidden;
}

.lista{
	padding: 0;
	height: 25px;
}

.lista li {
	display: inline;
	height: 30px;
}

.lista li a{
	font-family: Arial;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	float: left;
	padding: 5px 30px 5px 10px;
	/* margin-right: 10px; */
	background-color: black;
	color: #fff;
}

.lista li a:hover{
	background-color: #ffff46;
	margin-top: -2px;
	padding-bottom: 8px;
	color: #800000;
	border-bottom-style: solid;
	border-bottom-color: #800000;
	border-bottom-width: 5px;
}

.cabecera{
	width: 800px;
	margin: 20px auto 10px auto;
}

#fecha{
	text-align: right;
	font-family: Arial;
	font-size: 15px;
	text-decoration: none;
	float: left;
	padding: 10px;
	margin-right: 10px;
	width: auto;
	float: right;
}

.datos{
	width: 300px;
	float: left;
	display: none;
}

.centrar{
	width: 800px;
	margin: auto;
	display: block;
	text-align: center;
}

#chartTarta, #chart5DiasE{
	display: block;
	margin: 15px auto 10px auto;
	text-align: center;
	border-radius: 4px;	
}

#chart5DiasE{
	padding: 3px;
	margin: 20px auto 0 auto;
}


#ocultar{
	visibility: hidden;
}



#chart5DiasD{
	height: 240px;
	text-align: left;
}

.tipoSubida, .mes, .año, .grafico, .tipo{
	 float: right; 
	 margin-right: 10px;
	 background-color: red;
}

.titulo{
	float: left;
	margin-left: 15px;
	font-weight: bolder;
	color: navy;
}

#años{
	margin-top: 10px;
	margin-right: 15px;
}

.tarta{
	
	border: 2px solid #c8c8c8; 
	padding: 3px;
}

.ancho{
	border: 2px solid #c8c8c8; 
	padding: 3px;
	border-radius: 4px;
}

.ultimo{
	float: left;
	border: 2px solid #c8c8c8; 
	padding: 3px;
	display: block;
	margin: 15px auto 0 0; 

}

.pequeñoI, .pequeñoD{

	display: block;
	
	border: 2px solid #c8c8c8; 
	padding: 3px;
	
	margin: 15px auto 0 0; 
	border-radius: 4px;
	width: 48%;
}

.pequeñoI{
	float: left;
}

.pequeñoD{
	float: right;
}


.pequeñoI:hover, .pequeñoD:hover, .tarta:hover, .ancho:hover{
 	box-shadow: 0px 0px 10px 0px #787878;
 	background-color: rgb(255,253,208);
 }
 
 #ultimo{
 	margin-top: 20px;
 }