body{
	font-family: Century;
	background: #fff;
	color: #000;
	padding:20px;
}

.directorio{
	width: auto;
	height: auto;
}

.fila{
	width: auto;
	padding: 5px;
	height: auto;
	display: table;
}

.tile{
	height: 100px;
	width: 100px;
	float: left;
	margin: 0 5px 0 0;
	padding: 2px;
}

.tilelargo{
	width: 210px;
}

.amarillo{
	background: #daa520;
}

.rojo{
	background: #cd0000;
}

.azul{
	background: #4682b4;
}

.verde{
	background: #2e8b57;
}